n8n-workflows-backup-OgmiuYsdz5hIP6bZ.json
{"createdAt":"2025-03-06T12:33:57.999Z","updatedAt":"2025-03-06T12:44:13.390Z","id":"OgmiuYsdz5hIP6bZ","name":"n8n-workflows-backup","active":false,"nodes":[{"parameters":{},"id":"10edd070-b08a-43ce-a52a-6d4d8f9b59de","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2120,80]},{"parameters":{"options":{}},"id":"bd9fb2a7-7288-440b-938f-6b5db124c1b7","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1920,80]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"411c9ff9-6ba8-4cfd-9f06-da8eb41cddcb","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1720,80]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"22e55b4e-a323-48f3-b8fb-350ee714ab2b","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1520,80]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/ramosgrupo","mode":"url"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/ramosgrupo/backup-n8n"},"filePath":"="},"id":"da688de8-7b44-43f4-a9a8-b56be959be54","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1320,40],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"rk8WRbLQKcaEI6fp","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"43b8c485-2890-49c9-8fa7-5d5d40c95a74","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1120,140]},{"parameters":{"filters":{},"requestOptions":{}},"id":"c3627e40-9ed9-42b1-84d4-e877df17427e","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-920,0],"credentials":{"n8nApi":{"id":"Wd1BAA0LuDtn0DiA","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"cd25ff87-881a-4c2a-a8b7-53ff887dfe7f","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-720,120]},{"parameters":{"batchSize":1,"options":{}},"id":"1615ee55-cc00-468e-994e-fec679152e82","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-460,160]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"0c8c6e9d-b523-453e-aab3-69509a4de4d0","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-200,20]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/ramosgrupo","mode":"url"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/ramosgrupo/backup-n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"b92c38c5-da5a-4ede-9874-ade030f23e2c","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-20,-200],"credentials":{"githubOAuth2Api":{"id":"rk8WRbLQKcaEI6fp","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/ramosgrupo","mode":"url"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/ramosgrupo/backup-n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"4d8bd5c7-491d-4295-af35-3d523f68897e","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-20,200],"credentials":{"githubOAuth2Api":{"id":"rk8WRbLQKcaEI6fp","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1fecde1-0724-40ff-98ae-a39d8efe705e","triggerCount":0,"tags":[]}